<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RadarView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <RadarView.Properties.Settings>
            <setting name="AirportSelected" serializeAs="String">
                <value>LKCM</value>
            </setting>
            <setting name="OsnUserName" serializeAs="String">
                <value>445350</value>
            </setting>
            <setting name="OsnPassword" serializeAs="String">
                <value>qwert</value>
            </setting>
            <setting name="OgnEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsnEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeedUnit" serializeAs="String">
                <value>Knots</value>
            </setting>
            <setting name="ActiveAirspaceColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#003073</value>
            </setting>
            <setting name="AircraftOnGroundColor" serializeAs="String">
                <value>#808080	</value>
            </setting>
            <setting name="AircraftInAirColor" serializeAs="String">
                <value>#87CEEB</value>
            </setting>
            <setting name="AircraftSelectedColor" serializeAs="String">
                <value>#F0F0F0</value>
            </setting>
            <setting name="AircraftNotice1Color" serializeAs="String">
                <value>#00FF00</value>
            </setting>
            <setting name="AircraftNotice2Color" serializeAs="String">
                <value>#FFA500</value>
            </setting>
            <setting name="AircraftAlert1Color" serializeAs="String">
                <value>#FFFF00</value>
            </setting>
            <setting name="MapSourceUrl" serializeAs="String">
                <value>https://open.mapquestapi.com/staticmap/v4/getmap?key={0}&amp;size={1},{2}&amp;zoom={3}&amp;center={4},{5}</value>
            </setting>
            <setting name="MapSourceApiKey" serializeAs="String">
                <value>BPTfGFMqU5REeyC5R3I8rYGUXGmFpy7Z</value>
            </setting>
            <setting name="MapDownloadResolution" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MapColor" serializeAs="String">
                <value>#505050</value>
            </setting>
            <setting name="MonitoredArea" serializeAs="String">
                <value>49.61849 15.97027 48.8549 17.13973</value>
            </setting>
            <setting name="AfisStripUdpPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="PrecipitationRadarOpacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MonitoredAreaRectColor" serializeAs="String">
                <value>#FFFFFF88</value>
            </setting>
            <setting name="AirportColor" serializeAs="String">
                <value>#FAFAFA</value>
            </setting>
            <setting name="MeteoDataUpdateIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PrecipitationRadarUpdateIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MeteoDataUrl" serializeAs="String">
                <value>http://api.openweathermap.org/data/2.5/weather?lat={0}&amp;lon={1}&amp;appid={2}</value>
            </setting>
            <setting name="MeteoDataApiKey" serializeAs="String">
                <value>4376044d7f47ce4814566d60544dc6dd </value>
            </setting>
            <setting name="PrecipitationRadarArea" serializeAs="String">
                <value>51.447900 11.288265 48.061492 19.608423</value>
            </setting>
            <setting name="PrecipitationRadarDateTimeUrl" serializeAs="String">
                <value>http://{0}.meteor.androworks.org/feed</value>
            </setting>
            <setting name="MonitoredAreaAutoSetSizeKilometers" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="ViewRenderFPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AircraftTrailDotsMaxCount" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="AircraftTrailDotsStandartCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ViewZoomLevelChange" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="RenderUpdateInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AircraftLabelAltitudeDigitsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AircraftLabelGroundSpeedDigitsCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AircraftLabelAltSpeedSpacesCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AircraftLabelColumnSpacesCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PrecipitationRadarIsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeteoDataAreVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalTimeZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AirportRunwayThickness" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="ViewMaxAltitude" serializeAs="String">
                <value>2147483647</value>
            </setting>
            <setting name="PrecipitationRadarImagesServerUrl" serializeAs="String">
                <value>http://{0}.meteor.androworks.org/images/radar/image-{1}</value>
            </setting>
            <setting name="PredictorVerticalSpeedThreshold" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AircraftSpeedVectorTimeLengthSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PredictorVerticalSpeedTimeDiff" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AircraftRealFixTimeout" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="DataSourceLogsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AircraftRealFixCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataSourcePriority" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>OGN</string>
                        <string>OSN</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxRealFixAgeSeconds" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AircraftRealFixTextureSize" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AircraftTrailDotTextureSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AircraftTargetTextureSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AircraftMaxFadingTime" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PredictorSquawkAreaThreshold" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="MapConfig" serializeAs="String">
                <value>{"mapLayers":[{"name":"Základní mapa","imageName":"BasicMap","isVisible":false,"boundingBoxes":{"9":"51.85402 12.43535 46.47334 20.675","11":"49.90481 15.52526 48.5598 17.58519","13":"49.40472 16.29773 49.06847 16.81272"}}]}</value>
            </setting>
            <setting name="PrecipitationRadarResourceTimestampFormat" serializeAs="String">
                <value>yyyyMMdd.HHmm</value>
            </setting>
            <setting name="NtpSynchronizationOffsetPanelIsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AircraftTrailDotsUpdateIntervalMiliseconds" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AirportsAreVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NtpSynchronizationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AirspaceCategoriesColors" serializeAs="String">
                <value>		{"A":"#1E90FF","B":"#1E90FF", "C":"#1E90FF", "CTR":"#1E90FF", "D":"#1E90FF", "Danger":"#1E90FF", "E":"#1E90FF", "F":"#1E90FF", "G":"#1E90FF", "Gliding":"#1E90FF", "OTH":"#1E90FF", "Restricted":"#E68523", "TMA":"#1E90FF", "TMZ":"#1E90FF", "Wave":"#1E90FF", "Prohibited":"#DD5183", "FIR":"#1E90FF", "UIR":"#1E90FF", "RMZ":"#1E90FF", "Other":"#1E90FF"}</value>
            </setting>
            <setting name="NtpSynchronizationServerUrl" serializeAs="String">
                <value>pool.ntp.org</value>
            </setting>
            <setting name="NtpSynchronizationIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AirportAreaSizeMeters" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="PredictorMaxGroundSpeedForOnGroundDetection" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PredictorAltitudeThresholdForOnGroundDetection"
                serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="PredictorMaxPredictedSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PredictorMinTimeIntervaForPredictionSeconds" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PredictorMinFixCountForLinearRegresion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AircraftRealFixesAreVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MeasuringLineThickness" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="MeasuringLineColor" serializeAs="String">
                <value>#FEF975</value>
            </setting>
            <setting name="PredictorMaxRadiusForCirleFitting" serializeAs="String">
                <value>0.25</value>
            </setting>
        </RadarView.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIcaoIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIcaoIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
